# Flutter / Dart
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
**/.dart_tool/
.flutter-plugins
**/.flutter-plugins
.flutter-plugins-dependencies
**/.flutter-plugins-dependencies
.pub-cache/
**/.pub-cache/
.pub/
**/.pub/
build/
**/build/

# Android build outputs and caches
**/android/.gradle/
**/android/.kotlin/
**/android/local.properties
**/android/app/debug/
**/android/app/profile/
**/android/app/release/
**/*.apk
**/*.aab
**/*.symbols
**/*.map.json

# Firebase & Secrets
**/android/app/google-services.json
!**/android/app/google-services.json.example
**/firebase/scripts/*.pem
**/firebase/scripts/service-account*.json
.firebase/
**/.firebase/
*.local
**/*.local

# Node / Functions
node_modules/
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs & System
.idea/
**/.idea/
*.iml
**/*.iml
*.ipr
*.iws
.vscode/
**/.vscode/
.DS_Store
Thumbs.db
*.log
*.bak
**/*.bak
**/hs_err_pid*
